<div class = "container">
		<p>
		  <strong>Student:</strong>
		  <%= @course_rating.student.name%>
		</p>

		<p>
		  <strong>Course:</strong>
		  <%= @course_rating.course.name %>
		</p>

		<p>
		  <strong>Rating:</strong>
		  <%= @course_rating.rating %>
		</p>
</div>